.sign-in__container {
  h1 {
    color: #3f51b5;
  }
  .input__wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;

    .input {
      margin: 5px 0;
    }
    .btn-sign-in {
      margin: 10px 0;
    }
    .link_wrapper {
      justify-content: space-between;
      display: flex;
      margin: 10px 0;
      a {
        color: blue;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer {
      color: rgba(0, 0, 0, 0.54);
      margin-top: 50px;
      text-align: center;
    }
  }
}