.sign-in__container {
  padding: 0 2rem;
  width: calc(50% - 4rem);
	h1 {
		color: #3f51b5;
	}
	.input__wrapper {
		display: flex;
		flex-direction: column;
		text-align: left;

		.input {
			margin: 5px 0;
		}
		.btn-sign-in {
			margin: 10px 0;
		}
		.link_wrapper {
			justify-content: space-between;
			display: flex;
      margin: 10px 0;
      font-size: smaller;
			div {
				color: blue;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
