.Authorization__container {
	height: 100vh;
	display: flex;
	align-items: center;
	user-select: none;
	.background {
		height: 100%;
		width: 70%;
		background: url(../../assets/background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.content-form__wrapper {
		box-shadow: 0 5px 10px;
		width: 30%;
		height: 100%;
    display: flex;
    flex-direction: column;
		.logo {
      width: 80%;
      margin: auto;  
    }
    .inner{
      overflow: hidden;
      .slide-page{
        display: flex;
        width: 200%;
        transition: all 0.5s ease-in-out 0s;
        // property / duration / timing-function (linear, ease, ease-in, ease-out, ease-in-out) / delay
      }
    }
    .footer {
			color: rgba(0, 0, 0, 0.54);
			margin: auto auto 2rem;
		}
	}
}
