.sign-up__container {
  padding: 0 2rem;
  width: calc(50% - 4rem);
	h1 {
		color: #3f51b5;
	}
	.input__wrapper {
		display: flex;
		flex-direction: column;
		text-align: left;
		.input-inline {
			display: flex;
			justify-content: space-between;
			.input {
				width: 48%;
			}
		}
		.input {
			margin-bottom: 1rem;
		}
		.btn-sign-up {
			margin: 10px 0;
		}
		.link_wrapper {
      text-align: right;
      font-size: smaller;
			div {
				cursor: pointer;
				color: blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
